.divcomments{
    width: 100%;
    height: 300px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
}

.divnumber{

}

.profilcomments{

}

.profilcommentsimg{
    width: 30px;
    height: 30px;
    background-color: aqua;
    border-radius: 80px 80px 80px 80px;
    float: left;
}

.profilpostcomments{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
}

