.griddetail{
    grid-area: 1 / 2 / 6 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.postdivdetail{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 2px #4E5166 solid;
    padding: 16px 0;
}

.divprofilcomments{
    background-color: #4E5166;
    width: 100%;
}

.divpaddingcomments{
    padding: 5px;
}

.profilcommentsimg{
    width: 30px;
    height: 30px;
    border-radius: 80px 80px 80px 80px;
    float: left;
}

.profilpostcomments{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
    background: white;
}

.delete{
    padding: 5px 10px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    color: #fff;
    background: #091F43FF;
}
