.postGridDetail{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.gridDetail{
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postDivDetail{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 2px #4E5166 solid;
    padding: 16px 0;
}

.divCard{
    width: 750px;
}

.detailFig{
    width: 100%;
}

#media img{
    width: 564px;
    height: 470px;
    object-fit: contain;
}

#text p{
    text-align: justify;
}

.divText{
    height: 200px;
    margin-bottom: 15px;
}

.updateDeleteText{
    margin-top: 24px;
}

.divFigureDetail{
    width: 100%;
    display: flex;
    justify-content: center;
}

.divIconDetail{
    width: 100%;
}

.divIconDetail .likeDislike{
    width: 87%;
    display: flex;
    justify-content: space-between;
}

.buttonLikeDislike{
    color: #ffffff;
    font-size: 15px;
    margin: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.iconSize p{
    font-size: 17px;
    font-weight: normal;
    color: #4E5166;
    margin-left: 7px;
}

.styleButton{
    width: 96px;
    height: 35px;
    font-size: 17px;
    background-color: #091F43FF;
    box-shadow: none;
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 0;
    cursor: pointer;
}

.buttDelete{
    background-color: #FD2D01;
    margin-top: 12px;
}

/* RESPONSIVE */

/* MOBILE */
@media screen and (min-width: 320px) and (max-width: 767px){
    .divCard{
        width: 320px;
    }

    #media img{
        width: 300px;
        height: 260px;
    }

    figcaption{
        width: 100%;
    }

    .likedislike{
        width: 27%;
        display: flex;
        justify-content: space-around;
    }

    .divText{
        margin: 20px 0 10px 0;
        width: 300px;
    }

    .divIconNumber .likeDislike{
        width: 33%;
    }

    .updateDeleteText{
        margin-top: 10px;
    }

    .updateDeleteText form{
        margin-bottom: 10px;
    }

    .updateDeleteMedia{
        margin-top: 10px;
    }

    .updateDeleteMedia form{
        margin-bottom: 10px;
    }

    .detailFig{
        width: 95%;
    }

    .divFigureDetail{
        width: initial;
    }

    .divIconDetail{
        width: 38%;
    }

    .divIconLike{
        width: 100%;
    }

    .buttDelete{
        margin-top: 0;
    }

    #text{
        padding: 0 10px;
    }
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px){
    .divCard{
        width: 650px;
    }

    figcaption{
        width: 100%;
    }
}

/* ECRAN */
@media screen and (min-width: 1025px) and (max-width: 1440px){

}
