.gridDetail{
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.postDivDetail{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 2px #4E5166 solid;
    padding: 16px 0;
}

.delete{
    padding: 5px 10px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    color: #fff;
    background: #091F43FF;
}

/* RESPONSIVE */

/* MOBILE */
@media screen and (min-width: 320px) and (max-width: 767px){
    .divCard{
        width: 320px;
    }

    figcaption{
        width: 100%;
    }
}
