header{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.linkImg{
    display: flex;
    padding-left: 20px;
    width: 50%;
}

.linkImg div{
    width: 25%;
}

.divStyle {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
    margin-right: 35px;
}

.divStyleUser{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
    margin-right: 35px;
}

.divLink{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.divLink p{
    margin: 0;
}

.linkStyle {
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

span {
    margin: 0 20px;
    font-size: 20px;
}

.buttonBurger{
    display: none;
}

.buttonUser{
    display: none;
}

.buttonHeader{
    padding: 5px 10px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    color: #fff;
    background: #091F43FF;
}

.error {
    color: #FD2D01;
    margin-top: 7px;
    font-size: 12px;
}

input:focus{
    border: 2px #091F43FF solid;
}

button.modal-toggle,
input[type="submit"] {
    background-color: #091F43FF;
    color: #fff;
    cursor: pointer;
    padding: 7px 10px;
    text-transform: uppercase;
    border-radius: 3px;
    border: none;
}

button.modal-toggle:not(:first-child) {
    margin-left: 10px;
}

.formGroup {
    margin-top: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    box-sizing: border-box;
    width: 72%;
    padding: 0.5rem 0.7rem;
    border-radius: 3px;
    border: 2px #091F43FF solid;
    font-size: 13.4px;
}


/* RESPONSIVE */

/* MOBILE */
@media screen and (min-width: 320px) and (max-width: 767px){
    header{
        margin-top: 0;
        background-color: #091F43FF;
    }

    ul span{
        display: none;
    }

    .divLink .textUser{
        display: none;
    }

    .navBar{
        padding: 8px 0;
        align-items: center;
    }

    .buttonBurger{
        display: block;
        font-size: 38px;
        color: #fff;
        margin-right: 14px;
    }

    .buttonUser{
        display: block;
        color: #fff;
        margin-right: 14px;
        width: 160px;
    }

    .buttonUser p{
        font-size: 13px;
        width: 159px;
    }

    .buttonHeader{
        margin-top: 6px;
    }

    .linkImg{
        padding-left: 12px;
    }

    .linkUser{
        width: 343px;
    }

    .linkImg div{
        width: 100%;
    }

    .divStyle ul{
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: calc(100vh - 60px);
        background-color: #fff;
        display: none;
    }

    .divStyle li {
        text-align: center;
        margin: 0;
    }

    .divStyle.expand ul {
        display: block;
    }

    .divStyleUser ul{
        flex-direction: column;
        position: absolute;
        top: 34px;
        right: 0;
        width: 100%;
        height: 80px;
        background-color: #4E5166;
        display: none;
    }

    .divStyleUser li {
        text-align: center;
        margin: 15px;
    }

    .divStyleUser.expandUser ul {
        display: block;
    }

    .linkStyle{
        display: block;
        padding: 1.5rem;
        font-size: 5vw;
    }

}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px){
    .linkImg{
        width: 65%;
    }
}
