header{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.linkimg{
    display: flex;
    padding-left: 20px;
    width: 100%;
}

.linkimg div{
    width: 19%;
}

.linkstyle {
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
}

.divstyle {
    display: flex;
    align-items: center;
    margin-right: 35px;
    width: 30%;
    justify-content: space-around;
}

span {
    font-size: 30px;
}
