.parentGrid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin-bottom: 50px;
}

.grid1{
    grid-area: 1 / 1 / 2 / 6;
}

.titleDiv{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin-bottom: 20px;
}

.buttonDiv{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin-bottom: 20px;
}

.titleDiv h1{
    font-size: 20px;
    font-weight: bold;
    color: #091F43FF;
}

.buttonPost {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 7px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    color: #fff;
    box-shadow: 5px 5px 10px #aaa;
    background: #091F43FF;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    cursor: pointer;
    width: 140px;
    height: 30px;
}

.buttonPost:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.buttonPost h1{
    font-size: 15px;
}

.hiddenDiv {
    display: none;
}

.postCreate {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formFlex {
    width: 730px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    border: 4px #091F43FF solid;
    border-radius: 10px;
}

.radioDisplay{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radioDiv{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

#uploadImg{
    display: none;
}

.divUploadImg{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divImgText{
    width: 540px;
    color: #091F43FF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#textWisywig{
    display: none;
}

.divWisywig{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divTitle {
    width: 300px;
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.errTitle{
    color: #FD2D01;
    margin-top: 7px;
    font-size: 17px;
}

.sizeInput{
    margin-top: 5px;
}

.sizeInputImg{
    width: 72%;
    padding: 0.5rem 0.7rem;
    font-size: 16px;
}

.iconSize{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconSize h2{
    font-size: 17px;
    font-weight: normal;
    color: #4E5166;
    margin-left: 7px;
}

.textIcon{
    font-weight: bold;
    margin: 0 0 20px;
}

.divUpload{
    width: 400px;
    margin-bottom: 20px;
}

.divTextWis{
    width: 400px;
    height: 200px;
    margin-bottom: 30px;
}

.ck-content{
    height: 160px;
}

.textCitation{
    width: 417px;
    height: 45px;
}

.buttonPostDiv{
    width: 290px;
    display: flex;
    justify-content: space-between;
}

.styleButton{
    width: 96px;
    height: 35px;
    font-size: 17px;
    background-color: #091F43FF;
    box-shadow: none;
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 0;
    cursor: pointer;
}

/* RESPONSIVE */

/* MOBILE */
@media screen and (min-width: 320px) and (max-width: 767px) {
    .divTextWis{
        width: 260px;
    }

    .parentGrid{
        margin-bottom: 0;
    }

    .buttonDiv{
        margin: 0 12px;
    }
}
