.parentgrid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin-bottom: 50px;
}

.grid1{
    grid-area: 1 / 1 / 2 / 6;
}

.buttondiv{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.buttonpost {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    color: #fff;
    box-shadow: 5px 5px 10px #aaa;
    background: #091F43FF;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    cursor: pointer;
    width: 140px;
    height: 30px;
}

.buttonpost:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.hiddendiv {
    display: none;
}

.postcreate {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formflex {
    width: 730px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    border: 4px #FFD7D7 solid;
    border-radius: 10px;
}

.radiodisplay{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radiodiv{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

#uploadimg{
    display: none;
}

.divuploadimg{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divimgtext{
    width: 540px;
    color: #091F43FF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#textwisywig{
    display: none;
}

.divwisywig{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divtitle {
    width: 300px;
    height: 36px;
    margin: 25px 0;
}

.sizeinput{
    width: 72%;
    padding: 0.5rem 0.7rem;
    border-radius: 3px;
    border: 2px #091F43FF solid;
    font-size: 13.4px;
}

.sizeinputimg{
    width: 72%;
    padding: 0.5rem 0.7rem;
    font-size: 16px;
}

.icondiv{
    margin-bottom: 10px;
}

.iconsize{
    font-size: 35px;
}

.texticon{
    font-weight: bold;
    margin: 0 0 20px;
}

.divupload{
    width: 400px;
    margin-bottom: 20px;
}

.divtext{
    height: 200px;
    margin-bottom: 30px;
}

.ck-content{
    height: 160px;
}

.textcitation{
    width: 417px;
    height: 45px;
}

.buttonpostdiv{
    width: 290px;
    display: flex;
    justify-content: space-between;
}

.stylebutton{
    width: 96px;
    height: 35px;
    font-size: 17px;
    background-color: #091F43FF;
    box-shadow: none;
    border-radius: 3px;
    color: #fff;
    padding: 0;
    cursor: pointer;
}
