.postgrid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin-bottom: 20px;
}

.grid{
    grid-area: 1 / 2 / 6 / 5;
    display: flex;
    justify-content: center;
}

.postdiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 4px #4E5166 solid;
    width: 100%;
    padding: 16px 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.profilpost{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
}

.listpost{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 70%;
}

.imgprofil{
    width: 30px;
    height: 30px;
    border-radius: 80px 80px 80px 80px;
}

.nameprofil{

}

.hourpost{

}

.divfigure{
    width: 100%;
}

.titlepost{
    font-weight: bold;
}

figure{
    margin: auto 0;
}

.likedislike{
    display: flex;
    margin: 10px 0;
    font-size: 25px;
}

.margin-icon {
    margin-right: 10px;
}

.iconcolor{
    color: #FFD7D7;
    font-size: 16px;
}
