.postgrid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin-bottom: 20px;
}

.grid{
    grid-area: 1 / 2 / 6 / 5;
    display: flex;
    justify-content: center;
}

.postdiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 2px #4E5166 solid;
    width: 100%;
    padding: 16px 40px;
}

.profilpost{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.listpost{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 70%;
}

.imgprofil{
    width: 30px;
    height: 30px;
    border-radius: 80px 80px 80px 80px;
}

.nameprofil{
    font-weight: bold;
}

.hourpost{

}

.divfigure{
    width: 100%;
}

.titlepost{
    font-weight: bold;
    cursor: pointer;
}

figure{
    margin: auto 0;
}

.imgfigure{
}

figcaption{
    margin-top: 15px;
}

.stylecomments{
    background-color: #091F43FF;
    padding: 15px 10px;
}

.divcomments{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
}

.diviconnumber{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.buttonicon{
    color: #ffffff;
    font-size: 12px;
    margin: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.likedislike{
    width: 80px;
    display: flex;
    justify-content: space-around;
}

.iconcolor{
    color: #FFD7D7;
    margin-right: 5px;
}

.number{
    font-size: 12px;
    color: white;
    border: none;
    background: transparent;
    cursor: pointer;
}

#divShow{
    width: 200px;
    height: 20px;
    background: chocolate;
}

/* RESPONSIVE */

/* MOBILE */
@media screen and (min-width: 320px) and (max-width: 767px){

}
/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px){

}
/* ECRAN */
@media screen and (min-width: 1025px) and (max-width: 1440px){

}
